<button (click)="addEmployee()">Add</button>
<table *ngIf="employees" mat-table [dataSource]="employees" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="DOB">
    <th mat-header-cell *matHeaderCellDef> DOB </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </td>
  </ng-container>

  <ng-container matColumnDef="DOJ">
    <th mat-header-cell *matHeaderCellDef> DOJ  </th>
    <td mat-cell *matCellDef="let element"> {{element.dateOfJoining}} </td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

  <ng-container matColumnDef="action1">
    <th mat-header-cell *matHeaderCellDef> Action 1 </th>
    <td mat-cell *matCellDef="let element"> <button (click)="editEmployee(element.id)">Edit</button> </td>
  </ng-container>

  <ng-container matColumnDef="action2">
      <th mat-header-cell *matHeaderCellDef> Action 2 </th>
      <td mat-cell *matCellDef="let element"> <button (click)="deleteEmployee(element.id)">Delete</button> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>